.contact {
  background-color: #7a8c98;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
}

.contact-header {
  text-align: center;
  margin: 0.5rem 0.25rem;
  background-color: #f4f4f4;
  margin-top: 1.5625rem;
  width: 80%;
  padding: 2.5rem 1.25rem;
}

.contact-header h1 {
  font-size: 2.5rem;
  margin-bottom: 1.125rem;
}

.contact-header p {
  font-size: 1.125rem;
  color: #777;
  font-weight: 300;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 2.5rem 1.25rem;
  background-color: #fff;
  flex-wrap: wrap;
}

.contact-info-item {
  display: flex;
  gap: 1.125rem;
  align-items: center;
}

.contact-info-item p {
  font-size: 1rem;
  color: #333;
  font-weight: 300;
}

.contact-form-container {
  margin: 0.5rem 0.25rem;
  padding: 2.5rem 1.25rem;
  background-color: #f9f9f9;
  width: 80%;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

.contact-form {
  max-width: 37.5rem;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1.25rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.contact-submit-btn:hover {
  background-color: #555;
}

@media (max-width: 1200px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .contact-info-item {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .contact-header h1 {
    font-size: 2rem;
  }

  .contact-header p {
    font-size: 1rem;
  }

  .contact-info {
    gap: 1.5rem;
  }

  .contact-form-container h2 {
    font-size: 1.5rem;
  }

  .contact-form {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .contact-header h1 {
    font-size: 1.75rem;
  }

  .contact-header p {
    font-size: 0.9rem;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-info-item {
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    max-width: 95%;
  }

  .contact-submit-btn {
    font-size: 1rem;
  }
}
