.footer {
    background-color: #1e293b;
    color: #ffffff;
    padding: 2rem 0;
    width: 100%;
  }
  
  .footer h3 {
    color: #ffffff;
  }
  
  .footer-copywright {
    text-align: center;
    margin: 1rem 0;
  }

  
  @media (max-width: 768px) {
    .footer-copywright {
      text-align: center;
    }
  }
  