.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e293b;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding: 15px 20px;
  transition: top 0.3s;
}

.logo {
  font-size: xx-large;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: transform 0.3s ease;
}

.bar.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 12px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
  background-color: #475569;
  color: #ffffff;
  transform: scale(1.1);
}

.nav-links a.active {
  background-color: #2563eb;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #ffffff;
}

.nav-links a.active:hover {
  background-color: #1d4ed8;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 60px;
    /* left: 0;
      right: 0; */
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }

  .nav-links.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .nav-links a {
    font-size: 1rem;
    padding: 10px 15px;
  }
}
