.techstack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.toggle-button {
  margin: 15px 0;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: bold;
  background-color: #7a8c98;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 5px;
}

/* .toggle-button:hover {
  background-color: #1f2937;
} */

.progress-bar-container {
  width: 100px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #1d4ed8;
  transition: width 0.5s ease-in-out;
}

.techstack-container h1 {
    color: #4b5563;
}

.tech-icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center;
  width: 60%;
}

.tech-icon {
  width: 150px;
  height: 150px;
  perspective: 1000px;
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flip-card-front {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  transition: transform 0.3s ease;
}

.flip-card-back {
  background-color: #333;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
}

.flip-card-back h6,
.flip-card-back p {
  margin: 5px;
  font-size: 14px;
  padding: 5px;
  font-weight: normal;
}

.flip-card-front:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  font-size: 12px;
  font-weight: lighter;
}
